@import url("https://fonts.googleapis.com/css2?family=inter:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "inter", sans-serif;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  width: 70%;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.left-section {
  background: url(/gambar/Group10.png) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-content img {
  width: 70%;
  height: 50%;
}

.left-content p {
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}

.right-section {
  flex: 1;
  background-color: #f8f8f8;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-mob {
  display: none;
}

.signin-box {
  width: 100%;
  max-width: 400px;
}

.signin-box h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.signin-box p {
  margin-bottom: 20px;
  color: #777;
}

.signin-box label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.signin-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.signin-box button {
  width: 100%;
  padding: 12px;
  background-color: #612791;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.signin-box button:hover {
  background-color: #612791;
}

.additional-links {
  text-align: center;
}

.additional-links a {
  color: #612791;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .left-section {
    display: none;
  }

  .right-section {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .head-mob {
    display: flex;
  }
}
